body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.hero-background {
    background-image: url('/Picture2.png'); /* Placeholder image, replace with your actual farm image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.4); /* Dark overlay with transparency */
}
.section-padding {
    padding: 4rem 1rem; /* Consistent padding for sections */
}
@media (min-width: 768px) {
    .section-padding {
        padding: 6rem 4rem;
    }
}

/* New style for the central content container */
.hero-content-container {
    background-color: rgba(255, 255, 255, 0.1); /* bg-white bg-opacity-10 */
    backdrop-filter: blur(5px); /* backdrop-blur-sm */
    border-radius: 0.75rem; /* rounded-xl */
    padding: 2rem 1rem; /* p-8; combined p-8 for smaller screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
}

/* Responsive padding for larger screens */
@media (min-width: 768px) {
    .hero-content-container {
        padding: 15rem; /* md:p-16 */
    }
}
.bg-nav-image {
  background-image: url('/Nav1.jpg');
  background-size: cover; /* This makes the image cover the entire element */
  background-position:center; /* This centers the image */
  /* You can also add a background-color as a fallback for when the image doesn't load */
  background-color: #15803d; /* a shade of green */
}

.bg-white-image {
  background-image: url('/');
  background-size: cover; /* This makes the image cover the entire element */
  background-position:center; /* This centers the image */
  /* You can also add a background-color as a fallback for when the image doesn't load */
  background-color: #15803d; /* a shade of green */
}